<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
</head>
<body>
    <h2>Admin Dashboard</h2>

    <!-- Include the dealership modal -->
    <div th:replace="~{fragments/dealership-modal :: dealership-modal}"></div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>