<!-- src/main/resources/templates/reset-password.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/webjars/flowbite/dist/flowbite.js"></script>
    <title>Reset Password</title>
</head>
<body>
    <h2>Reset Password</h2>
    <form th:action="@{/api/password/reset}" method="post">
        <input type="hidden" name="token" th:value="${token}"/>
        <div>
            <label>New Password:</label>
            <input type="password" name="password" required/>
        </div>
        <div>
            <label>Confirm Password:</label>
            <input type="password" name="confirmPassword" required/>
        </div>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>